/*--------------------------------------------------------------
# Contact Section
--------------------------------------------------------------*/
.contact .info-item {
  background-color: var(--white-color);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.22);
  padding: 24px 0 24px 0;
}

.contact .info-item i {
  color: var(--primary-color);
  width: 56px;
  height: 56px;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
  border-radius: 50%;
  border: 2px dotted color-mix(in srgb, var(--primary-color), transparent 40%);
}

.contact .info-item h3 {
  color: color-mix(in srgb, var(--dark-bg-color), transparent 20%);
  font-size: 18px;
  font-weight: 700;
  margin: 10px 0;
}

.contact .info-item p {
  padding: 0;
  margin-bottom: 0;
  font-size: 14px;
}
