
:root {
  --primary-color: #d63e3e;
  --text-color: #151515;
  --dark-bg-color: #222222;
  --light-bg-color: #f5f5f5;
  --white-color: #ffffff;

  --hover-color: #b83232;
  --border-color: #dddddd;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-color);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
