
:root {
  --primary-color: #d63e3e;
  --text-color: #151515;
  --dark-bg-color: #222222;
  --light-bg-color: #f1efef;
  --white-color: #ffffff;

  --hover-color: #b83232;
  --border-color: #c4c4c4;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-color);
}

input:focus, textarea:focus {
  outline: none !important;
  box-shadow: none !important;
}
