<div class="d-flex justify-content-center align-items-center w-100 vh-100 m-0 p-4">
  <div class="card p-4">
    <div class="d-flex flex-column align-items-center">
      <img ngSrc="assets/images/logos/logo.webp" alt="Logo" height="34" width="60">
      <h3 class="text-center m-4">Iniciar Sesión</h3>
    </div>

    <form #loginForm="ngForm" (ngSubmit)="login()">
      <div class="form-group mb-3">
        <label for="email" class="form-label">Usuario</label>
        <div class="input-group">
          <span class="input-group-text"><i class="bi bi-envelope-fill"></i></span>
          <input
            type="text"
            id="email"
            class="form-control border-1"
            name="username"
            [(ngModel)]="username"
            required
            (ngModelChange)="clearError()"
            placeholder="Ingresar usuario"
            autofocus>
        </div>
        @if (loginForm.submitted && !username) {
          <small class="text-danger">El usuario es obligatorio.</small>
        }
      </div>

      <div class="form-group mb-4">
        <label for="password" class="form-label">Contraseña</label>
        <div class="input-group">
          <span class="input-group-text"><i class="bi bi-lock-fill"></i></span>
          <input
            type="password"
            id="password"
            class="form-control border-1"
            name="password"
            [(ngModel)]="password"
            required
            (ngModelChange)="clearError()"
            placeholder="Ingresar contraseña">
        </div>
        @if (loginForm.submitted && !password) {
          <small class="text-danger">La contraseña es obligatoria.</small>
        }
      </div>

      @if (error) {
        <div class="text-danger text-center mb-2">{{ error }}</div>
      }
      <div class="d-flex justify-content-center">
        <button
          class="btn btn-danger w-75 rounded-pill"
          type="submit"
          [disabled]="!loginForm.form.valid">
          Entrar
        </button>
      </div>
    </form>
  </div>
</div>
